* {
    margin: 0;
    padding: 0;
}

.item {
    padding: 2rem;
    border: 2px solid red;
    background: rgb(131, 58, 180);
    color: white;
    font-family: fantasy;
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
}

.container {
    display: grid;
    /* border: 5px solid black; */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    gap: 20px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-column: 1/4; */
    display: flex;
    border: 5px solid blue;

    /* align-items: center; */
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-column: 1/4; */
}

.item4 {
    grid-row: span 3;
}

ul > li {
    text-decoration: none;
    display: inline;
    /* align-self: center; */
    margin-left: auto;
    border: 1px solid black;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    margin-left: auto;
    border: 1px solid black;
}
